<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <!--<script src="dist/toastPanelToast.js"></script>-->
    <!--<script src="static/lib/test.js"></script>-->
    <title>vue-own-component</title>
  </head>
  <body>
    <div id="app">

    </div>
    <!-- built files will be auto injected -->
  </body>
  <!--<script>-->
    <!--var vue = new Vue({-->
      <!--el: '#app',-->
      <!--data() {-->
        <!--return {-->

        <!--}-->
      <!--},-->
      <!--mounted() {-->
        <!--alert(1)-->
      <!--}-->
    <!--})-->
  <!--</script>-->
</html>
